<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complain</title>
</head>
<body>
    <form action="/complain" method="POST">
        <input type="email" name="email" placeholder="Email Id...."><br><br>
        <input type="text" name="complain" rows="5" cols="50" placeholder="Enter Your Complaint"/>
        <input type="submit" value="submit">
    </form>
    <a href="/logout">logout</a>
</body>
</html>