<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href='/care_Signin' style="text-decoration: none;">Customer Care Signin</a><br>
    <a href='/user_signin' style="text-decoration: none;">User Signin</a>
    <a href='/user_signup' style="text-decoration: none;">User Signup</a>
</body>
</html>